/*  your css code here. If applicable */
.container {
	width: 300px;
	height: 600px;
	background-color: #f1f1f1;
	font-size: 30px;
	text-align: center;
	padding: 50px;
}

h1 {
	font-size: 53px;
}


#b1 {
	width: 150px;
	height: 65px;
	color: white;
	background-color: red;
	border-radius: 15px;
	border-color: red;
	font-size: 25px;
}